{% extends base_template %}

{% load i18n %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{ market.description|safe }}
        </div>
    </div>
{% endblock %}
